<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Balance</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet">
</head>
<body>

    <div class="main-container">
        <div class="header-container">
            <h3 class="header"> <span th:text="${username}">USER</span> BALANCE </h3>
        </div>
        <div class="balance-container">
            <p id="balance-holder">$<span th:text="${balance}" id="balance"></span></p>
        </div>

    </div>

</body>
</html>
