<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deposit</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="header-container">
            <h3 class="header">DEPOSIT</h3>
        </div>
        <div class="form-container">
            <form action="#" th:action="@{/deposit}" th:object="${digitalAtmRequest}" method="post">
                <label class="form-group">$
                    <input type="number" th:field="*{amount}" placeholder="non-negative amount" required>
                </label>
                <input type="submit" value="Execute" class="btn btn-secondary btn-md">
            </form>
        </div>


    </div>
</body>
</html>
