<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Withdraw</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet">
</head>
<body>
<div class="main-container">
    <div class="header-container">
        <h3 class="header">WITHDRAW</h3>
    </div>
    <div class="form-container">
        <form action="#" th:action="@{/withdraw}" th:object="${digitalAtmRequest}" method="post">
            <label>$
                <input type="number" th:field="*{amount}" placeholder="non-negative amount" required class="text-input">
            </label>
            <input type="submit" value="Execute" class="btn btn-secondary btn-md">
        </form>
    </div>


</div>

</body>
</html>
